@use "../foundation/base" as *;

body.no-scroll {
  position: fixed;
}

.l-main {
  &__wrapper {
    display: flex;
  }
  //ハンバーガーメニュー開いた時の背景マスク
  &__back {
    @include mq(tab) {
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 0;
      right: -100%;
      width: 0;
      min-height: 100%;
      z-index: 500;
    }
    &.is-open {
      @include mq(tab) {
        width: 100%;
        right: 0;
      }
    }
  }
  &__left {
    width: 80%;
    height: 100%;
    @include mq(tab) {
      width: 100%;
      }
  }

  &__right {
    z-index: 400;
    width: 20%;
    height: auto;
    background-color: $bgcolor-sub;
    @include mq(tab) {
      width: 0;
      right: -100%;
    }
    &.is-open {
      @include mq(tab) {
      position: absolute;
      top: 0;
      right: 0;
      transition: right .5s;
      width: 44%;
      height: 100vh;
      z-index: 1000;
      overflow-y: auto;
      }
      @include mq(sp) {
        width: 87%;
      }
    }
    &.is-open::-webkit-scrollbar {  /* Chrome, Safari 対応 */
      display:none;
    }
  }
}

.l-under-visual {
  display: flex;
  height: auto;
  padding: 40px;
  @include mq(sp) {
    flex-flow: column;
    padding: 20px 20px 49px 20px;
  }
}


