@use "../../foundation/base" as *;

.p-archive {
  &__top {
    position: relative;
    background: no-repeat center/cover;
    background-color: rgba($color: #000000, $alpha: 0.5);
    height: 239px;
    @include mq(tab) {
      height: 283px;
    }
    @include mq(sp) {
      height: 283px;
      background-size: 250%;
      background-position: left 13% top 46%;
    } 
    &::before{
      position: absolute;
      background-color: rgba($color: #000000, $alpha: 0.5);
      content: "";
      width: 100%;
      height: 100%;
    } 
    &__title {
      display: flex;
      align-items: center;
      position: absolute;
      top: 36%;
      left: 5%;
      @include mq(sp) {
        display: block;
        top: 40%;
        left: 9%;
      }
    }
    h2 {
      font-family: $font-robot;
      color: #fff;
      font-size: 6rem;
      font-weight: bold;
      line-height: (79/60);
      @include mq(sp) {
        font-size: 3.6rem;
        line-height: (48/36);
      }
    }
    p {
      color: #fff;
      font-size: 1.6rem;
      font-weight: bold;
      line-height: (23/16);
      @include mq(sp) {
        padding-top: 7px;
      }
    }
  }
  &__middle {
    h3 {
      color: $color-brown;
      font-size: 3.6rem;
      font-weight: bold;
      line-height: (54/36);
      @include mq(sp) {
        font-size: 2.8rem;
        font-weight: bold;
        line-height: (42/28);
      }
    }
    p {
      color: $color-brown;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: (23/16);
      margin-top: 25px;
      @include mq(sp) {
        margin-top: 30px;
      }
    }
  }
}
