@use "../../foundation/base" as *;

.p-single {
  &__card {
    @include mq(sp) {
      margin-top: 30px;
    }
    margin-top: 60px;
  }
}

.p-archive {
  &__card {
    @include mq(sp) {
      display: block;
      margin-top : 20.9px;
    }
    display: flex;
    background-color: $color-brown;
    margin-top: 30px;
    img {
      @include mq(tab) {
        width: 50%;
      }
      @include mq(sp) {
        width: 100%;
      }
      object-fit: cover;
    }
    &__text-box {
      @include mq(tab) {
        margin: 29px 56px 40px 35px;
      }
      @include mq(sp) {
        margin: 30.5px 23px 43.7px 17px;
      }
      margin: 53px 104px 60px 63px;
    }
    &__title {
      @include mq(tab) {
        font-size: 2rem;
        line-height: (30/20);
      }
      color: #fff;
      font-size: 3.6rem;
      font-weight: bold;
      line-height: (54/36);
    }
    &__sub-title {
      @include mq(tab) {
        margin-top: 24px;
        font-size: 1.6rem;
        line-height: (23/16);
      }
      color: #fff;
      font-size: 2.4rem;
      font-weight: bold;
      line-height: (36/24);
      margin-top: 47px;
    }
    &__text {
      @include mq(tab) {
        margin-top: 10px;
      }
      @include mq(sp) {
        padding-right: 40px;
      }
      color: #fff;
      font-size: 1.6rem;
      line-height: (23/16);
      margin-top: 17px;
    }
    &__more-button {
      @include mq(tab) {
        margin-top: 40px;
      }
      @include mq(sp) {
        padding-bottom: 43.7px;
      }
      text-align: center;
      margin-top: 60px;
      a {
        @include mq(tab) {
          padding: 10px 41px;
          line-height: (17/16);
        }
        display: inline-block;
        border-radius: 50px;
        background-color: #fff;
        padding: 27px 106px;
        color: $color-gray;
        font-size: 1.6rem;
        font-weight: bold;
        line-height: (33/16);
      }
    }
  }
}