.p-single {
  &__wrapper__code {
    background-color: #F5F5F5;
    padding: 50px 60px 50px 50px;
    pre {
      margin: 0;
    }
    code {
      font-size: 1.6rem;
      line-height: (23/16);
    }
  }
}