.p-footer {
  &__copy-right {
    position: relative;
    small {
      display: block;
      padding-top: 34px;
      color: #fff;
      font-size: 1.4rem;
      line-height: (20/14);
    }
  }
}

.p-footer__copy-right {
  .menu {
    display: flex;
    a {
      display: inline-block;
      color: #fff;
      font-size: 2rem;
      line-height: (30/20);
    }
  }
  li:first-child {
    margin-right: 13px;
    ::after {
      background-color: #fff;
      position: absolute;
      top: 8%;
      left: 54%;
      content: "";
      width: 2px;
      height: 20px;
    }
  }
  li:last-child {
    margin-left: 13px;
  }
}