@forward "archive";
@forward "search";
@forward "single";
@forward "shop";
@forward "header";
@forward "pagination";
@forward "main";
@forward "panel";
@forward "map";
@forward "footer";
@forward "sidebar";
@forward "card";
@forward "blockquote";
@forward "list";
@forward "table";
@forward "code";
@forward "button";
@forward "sidebar-open";