@use "../../foundation/base" as *;

.p-map-visual {
  position: relative;
  overflow: hidden;
  > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &-mask1 {
    @include mq(tab) {
      padding: 40px 42px;
      width: 100%;
    }
    @include mq(sp) {
    }
    width: 61%;
    padding: 83px 120px; 
    position: relative;
    z-index: 300;
  }
  &-mask2 {
    @include mq(tab) {
      padding: 40px 42px;
    }
    padding: 83px 120px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    overflow: hidden;
  }
  &-mask3 {
    @include mq(tab) {
      width: 100%;
    }
    @include mq(sp) {
      height: 60%;
    }
    padding: 83px 119px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    width: 61%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.29);
    overflow: hidden;
  }
  h5 {
    @include mq(sp) {
      font-size: 3rem;
      line-height: (45/30);
    }
    color: #fff;
    font-size: 3.6rem;
    font-weight: bold;
    line-height: (54/36);
  }
  h5::before {
    @include mq(tab) {
      top: 113px;
      left: 42.5px;
    }
    @include mq(sp) {
      top: 102px;
      left: 42px;
    }
    background-color: #fff;
    position: absolute;
    top: 189.5px;
    left: 119.5px;
    content: "";
    width: 75px;
    height: 2px;
  }
  p {
    @include mq(tab) {
      margin-top: 40px;
    }
    @include mq(sp) {
      font-size: 1.4rem;
      line-height: (33/14);
    }
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: (33/16);
    margin-top: 119px;
  }
}