@use "../../foundation/base" as *;

.p-pagenation {
  @include mq(sp) {
    margin: 60.4px 5% 31px;
  }
  margin: 150px 0 64px;
  &__ul {
    @include mq(sp) {
      justify-content: space-between;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-robot;
    color: $color-gray;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: (33/16);
  }
  &__title {
    @include mq(sp) {
      display: none;
    }
    position: relative;
    display: inline-block;
    margin-right: 26px;
  }
  &__li-common {
    font-size: 2.3rem;
    line-height: (23/16);
    a {
      @include mq(sp) {
        vertical-align: middle;
      }
      color: $color-gray;
    }
  }
  span {
    @include mq(sp) {
      vertical-align: middle;
      display: inline-block;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: (23/16);
      margin:0 5px;
    }
    display: none;
  }
  .before {
    margin-right: 26px;
  }
  .next {
    margin-left: 10px;
  }
  &__li-pc {
    @include mq(sp) {
      display: none;
    }
    border: solid 1px $color-gray;
    margin-right: 15px;
    a {
      display: block;
      padding: 1px 13px;
      color: $color-gray;
    }
    &:hover {
      background-color: $color-brown;
      a {
        color: #fff;
      }
    }
  }
}