@use "../../foundation/base" as *;

.p-pagination {
  margin: 150px 0 64px;
  @include mq(sp) {
    margin: 60.4px 0 31px;
  }
}

.wp-pagenavi {
  display: flex;
  justify-content: center;
  align-items: center;
  span,a {
    font-family: $font-robot;
    color: $color-gray;
    font-size: 1.6rem;
    line-height: (33/16);
    font-weight: bold;
  }
  @include mq(sp) {
    justify-content: start;
  }

  .pages {
    margin-right: 15px;
    @include mq(sp) {
      display: none;
    }
  }
  .current {
    background-color: #3C2B1C;
    color: #FFFFFF;
  }
  .current, .page {
  border: solid 1px $color-gray;
  margin-right: 15px;
  padding: 0 12px;
  @include mq(sp) {
    display: none;
  }
  &:hover {
    background-color: $color-brown;
    color: #FFFFFF;
  }
  }
  .first {
    font-size: 2.6rem;
    line-height: (23/16);
    font-weight: normal;
    margin-right: 15px;
    @include mq(sp) {
      display: none;
    }
  }

  .last {
    font-size: 2.6rem;
    line-height: (23/16);
    font-weight: normal;
    @include mq(sp) {
      display: none;
    }
  }

  .last > span {
    display: none;
    @include mq(sp) {
      display: inline-block;
      font-weight: normal;
    }
  }

  .previouspostslink {
    display: none;
    @include mq(sp) {
      display: block;
      font-size: 2.6rem;
      margin: 0 0 auto 0;
    }
  }
  .next {
    margin-right: 6px;
  }

  .nextpostslink {
    display: none;
    @include mq(sp) {
      display: block;
      font-size: 2.6rem;
      margin: 0 0 0 auto;
    }
  }
}