@use "../../foundation/base" as *;

.l-under-visual {
  .p-panel {
    @include mq(tab) {
      right: 10px;
      left: 10px;
      bottom: 10px;
    }
    position: absolute;
    right: 20px;
    left: 20px;
    bottom: 20px;
    overflow: hidden;
    &-box {
      @include mq(tab) {
        padding: 20px 10px;
      }
      background-color: rgb(255, 255, 255, 0.8);
      min-height: 174px;
      padding: 17px 17px 17px 19px;
      &:nth-of-type(2) {
        @include mq(tab) {
          margin-top: 10px;
        }
        margin-top: 30px;
      }
    }
  }
  h4 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: (36/24);
  }
  p {
    @include mq(tab) {
      margin-top: 20px;
    }
    margin-top: 26px;
    font-size: 1.6rem;
    line-height: (23/16);
  }
}