@use "../../foundation/base" as *;

.p-single {
  &__table {
    margin-top: 50px;
    @include mq(sp) {
      margin-top: 30px;
    }
    table{
      width: 100%;
      border-collapse: collapse;
      border: 1px solid $color-gray;
    }
    th {
      text-align: left;
      font-weight: normal;
      font-size: 1.6rem;
      line-height: (23/16);
      border: 1px solid $color-gray;
      padding: 28px 30px 28px;
    }
    th:nth-child(1) {
      @include mq(tab) {
        width: 28%;
      }
      @include mq(sp) {
        width: 40%;
      }
    }
    td {
      font-size: 1.6rem;
      line-height: (23/16);
      border: 1px solid $color-gray;
      padding: 28px 30px 28px;
    }
    td:nth-child(1) {
      @include mq(tab) {
        width: 28%;
      }
      @include mq(sp) {
        width: 40%;
      }
    }
  }
}