@use "../../foundation/base" as *;

.wp-block-button {
  width: 100%;
  &__link {
    margin: 60px 0 0;
    padding: 41px 190px;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: (23/16);
    color: inherit;
    background-color: #F2EDE9;
    border: 1px solid $color-gray;
    border-radius: 20px;
    @include mq(sp) {
      display: block;
      padding: 28px 0 31px;
    }
  }
  > a:hover {
    color: inherit;
  }
}

.c-bgimage_hamburger {
  background: url(../images/takeout.png) no-repeat center/cover;
  height: 239px;
  @include mq(tab) {
    height: 283px;
  }
  @include mq(sp) {
    background-size: 250%;
    background-position: left 13% top 46%;
  } 
}
.c-bgimage_side {
  background: url(../images/side_potate.jpg) no-repeat center/cover;
  height: 239px;
  @include mq(tab) {
    height: 283px;
  }
  @include mq(sp) {
    background-size: 250%;
    background-position: left 13% top 46%;
  } 
}

.c-bgimage_drink {
  background: url(../images/drink_apple.jpg) no-repeat center/cover;
  height: 239px;
  @include mq(tab) {
    height: 283px;
  }
  @include mq(sp) {
    background-size: 250%;
    background-position: left 13% top 46%;
  } 
}