@use "../../foundation/base" as *;

.c-button {
  @include mq(sp) {
    padding: 28px 132px;
  }
  display: inline-block;
  background-color: #F2EDE9;
  padding: 41px 190px;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: (23/16);
  border: 1px solid $color-gray;
  border-radius: 20px;
}