@use "../../foundation/base" as *;

.c-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  @include mq(tab) {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  } 
  @include mq(sp) {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}